<%= t ".friends_tab_header_text_html", :username => @user2.short_or_full_user_name(@user) %>
<br/>
<table id="users">
  <tbody>
  <% for user in @users2 do -%>
      <%= render :partial => 'user', :locals => {:user => user} %>
  <% end -%>
  </tbody>
  <tfoot>
  <tr id="show-more-rows-spinner">
    <td colspan="4">
      <img src="/images/ajax-loading-64.gif"/>
    </td>
  </tr>
  <tr>
    <td colspan="4">
      <table>
        <tbody id='show-more-rows-errors'>
        </tbody>
      </table>
    </td>
  </tr>
  </tfoot>
</table>