<%= my_t ".friends_tab_header_text_html", :username => @user2.short_or_full_user_name(@user) %>
<br />
<table id="users">
  <% for user in @users do -%>
      <%= render :partial => 'user', :locals => { :user => user } %>
  <% end -%>
</table>