<tr title="<%= t 'shared.languages.title', :appname => APP_NAME %>">
  <td><%= t 'shared.languages.prompt', :appname => APP_NAME %></td>
  <td>:</td>
  <td><%= render :partial => 'shared/language_select' %></td>
</tr>