<div style="width: 100%">
  <%= t 'shared.invite_friends.no_friends_was_found_html', :appname => APP_NAME, :apiname => @user.apiname %>
  <table>
    <tr>
      <%= hr = true ; render :partial => 'shared/invite_friends' %>
    </tr>
  </table>
</div>
