<% for error in @errors do -%>
    <% key, options = error ; logger.debug2  "key = #{key}, options = #{options}" -%>
    <tr>
      <td><%= t key, my_sanitize_hash(options) %></td>
    </tr>
<% end -%>