<p>
  Thank you for visiting <%= APP_NAME %>.<br /><br />
  You are logged out off the <%= APP_NAME %> app, but not of facebook.
  Use logout link on <%= link_to_facebook %> if you also wish to logout of facebook.
</p>