<div id="new_gifts_div">
  <%= hidden_field_tag :new_newest_gift_id, '', :id => "new-newest-gift-id" %>
  <%= hidden_field_tag :new_newest_status_update_at, '', :id => "new-newest-status-update-at" %>
  <table>
    <tbody id="new_gifts_tbody">
    <%= render :partial => 'gifts/api_gifts' %>
    </tbody>
  </table>
</div>
