<table id="gifts">
  <%= render :partial => 'table_header_row' %>
  <%= render :partial => 'api_gift', :locals => {:api_gift => @gift} %>
</table>
<% if @user.dummy_user? -%>
    <script>
        $(document).ready(function() {disable_user_currency_new_lov()})
    </script>
<% end -%>