<html>
<head>
  <meta charset="utf-8" />
</head>
<body>

<p>
  Gofreerev leger med nogle af begreber fra <%= link_to "Charles Eisenstein", "http://charleseisenstein.net/", { :target => "_blank" } %>'s bog <%= link_to "Sacred Economics", "http://sacred-economics.com/", { :target => "_blank" } %>,
  fx. fællesskab, frie penge, negativ rente og social dividende.<br />
  Som fællesskab i dette spil er valgt ens facebook venner,
  frie penge er danske frie kr. med negativ rente på 7.6% om året på formue og gæld.
  Dvs. både formue og gæld vil blive mindre med tiden.
  Halvdelen af de negative renter (3.8%) bliver fordelt ligeligt imellem deltagerne når man spiller.
  <br />
  <br />
  Du deler de ting (eller tjenester) du har i overskue og som dine vemner kan have glæde af.
  Ting kan være gratis eller du kan sætte en pris når du opretter opslag eller efterfølgende. <br />
  Dette er blot et spil med frie danske kr. og alle har ubegrænset kredit.<br />
  Din saldo i dette spil afspejler hvormeget du har solgt/købt (givet/modtaget)
  og er en slags mål på taknemmelighedsgæld overfor venner og fællesskab,
  hvem har givet/modtaget mest,
  men afspejler ikke hvor rig eller fattig man er i den virkelige verden.<br />
  Frie penge er penge med en historie.
  Frie penge og ting (eller tjenester) er bundet tæt sammen og frie penge er ikke anonyme.
  Tag fx. de 300 frie danske kr. fra salget af en brugt cykel der efterfølgende er blevet brugt til at købe et par rulleskjøter.
  Nu er de 300 frie danske kr., de 2 historier om cyklen og rulleskøjterne og de 3 personer forbundne.
  Hold pengene i live, opdater historierne og hold forbindelsen.
  <br />
  <br />
  Gofreerev opretter opslag på din væg med dine tilbud.
  Sæt rettigheder for applikationen så dine venner kan se hvad du tilbyder.
  Det er FB rettigheder der bestemmer hvem der kan se hvad.<br />
  Gofreerev gemmer information om din saldo og links til dine opslag, men ikke indhold af opslag.
  Når og hvis du sletter Gofreerev tilbud fra din væg
  tabes forbindelsen imellem din saldo og hvad du har givet/modtaget fra fællesskabet
  og dine frie penge er blot kedelige anonyme penge uden historie.
</p>

<%= link_to 'Ja tak - giv Gofreerev adgang til mine grundlæggende oplysninger!', "javascript: {top.location.href='" + @auth_url + "'}" %>

<br />
<br />
<p>
  Note: Gofreerev er open source. Dvs. kilde koden til denne app er offentlig tilgængelig og kan bruges af andre i deres apps.
  Det er mit håb at der med tiden udvikles teknologi der kan de spændende tanker i Charles Eisensteins bog.
  Læs bogen. Den kan købes (engelsk) eller læses gratis online bl.a. i en svensk oversættelse.
</p>
</body>
</html>
