<p>
  <%= APP_NAME %> fik ikke adgang til at se dine grundlæggende FB oplysninger.
  Dine grundlæggende oplysninger omfatter dit navn, profilbillede, køn, netværk, bruger-id, din venneliste og enhver anden oplysning, du har gjort offentlig.
  Dvs. stort set kun oplysninger der allerede er offentlig tilgængelige.
  Ingen facebook app kan fungerer uden adgang til dine grundlæggende FB oplysninger.
  <br /><br />
  <%= APP_NAME %> bruger FB til login og har brug for dit unikke bruger-id til at holde styr på din saldo i frie penge.
  <br /><br />
  Tak for besøget.
  <br /><br />
  Brug nedenstående <u>facebook</u> link til at vende tilbage til facebook eller
  brug nedenstående <u><%= APP_NAME %></u> link til at give <%= APP_NAME %> adgang til dine grundlæggende FB oplysninger.
</p>

