<br>
<% for section in @sections -%>
    <a name="<%= section %>"></a>
    <h3><%= t ".#{section}_header", :appname => APP_NAME %></h3>
    <p><%= t ".#{section}_text_html", :appname => APP_NAME %></p>
<% end -%>
<div style="width: 100%"><hr></div>
